.bottomCard {
  background-image: url(/choosebg.png), linear-gradient(#1e1c22, #1e1c22);
  background-repeat: no-repeat;
  background-size: cover;
}

.aboutMore {
  border: 1px solid hsla(0, 0%, 100%, 0.2);
  border-radius: 50%;
  transition: 0.7s;
}

.aboutMore:hover {
  border-color: var(--theme-color);
  box-shadow: inset 0 0 0 10em var(--theme-color);
}
