.footer {
  background-image: url(/footer-bg.png), linear-gradient(#1e1c22, #1e1c22);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
@media (max-width: 767px) {
  .footer {
    background-image: url(/footer-bg2.png), linear-gradient(#171717, #171717);
  }
}
